body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: bisque;
}
#container{
    width: 1000px;
    height: 550px;
    background-image: url(img1.jpeg);
    margin: 20px auto;
}
#calculater{
    width: 320px;
    height: 520px;
    background-color: black;
    margin: 0px auto;
    top: 20px;
    border-radius:5px ;
    position: relative;
    box-shadow: 2px 2px 5px black ;

}